/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
video {
  position: absolute;
  width: 540px;
  height: 420px;
  top: 48%;
  left: 20%;
  transform: translate(-50%, -50%);
}
#tasks {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}
#state1 {
  position: absolute;
  top: 62%;
  left: 85%;
}
#state2 {
  position: absolute;
  top: 12%;
  left: 85%;
}
.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}

.hidden {
  display: none;
}


/* Offline page */

.offline .interstitial-wrapper1 {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 90%;
}

.offline .runner-container1 {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 57%;
  left: 40%;
  width: 44px;
}
.offline .runner-container2 {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 7%;
  left: 40%;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

#offline-resources {
  display: none;
}
